
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Libre+Bodoni&family=Open+Sans:ital@1&family=Pangolin&family=Playfair+Display&display=swap');


* {
  text-shadow: .5 .5 2px;
  font-family: 'Pangolin', cursive;


}
:root {
  --primary : #ffeff8;
  --secondary: #e0f8f5;
  --links: #E58698;
  --headers:#444444;
  --violet: #A680BD
}

body{
  background-color: var(--primary) !important;
}
header {
  margin-bottom: 1%;
  background-image: linear-gradient(135deg, #e0f8f5, #ffeaea) !important;

  
  box-shadow: 2px 2px 20px;
}
/* .web-name{
  font-size: 2rem !important;
  margin-left: 2%;
  padding: 1%;
  
} */
/* .web-name a{
  text-decoration: none;
  color: var(--headers);
 } */
nav ul{
  display: flex;
  padding: 1%;
  margin-top: 2%;
  margin-right: 4%;
  
}
nav ul li{

  margin-right: 5%;
  
}
nav ul li a {
  color: var(--links) !important;
  font-size: 1.25rem !important;
  margin-right: 1%;
  text-decoration: none;
  color: black;

}
.active {
  font-size: 1.5rem !important;
  transform: translateY(-5px) !important;
  color: var(--violet) !important;
}
nav ul li a:hover {
  font-size: 1.5rem !important;
  
  transition: all .3s;
} 
nav ul li {
  list-style: none;
}
.cake-intros p {
  font-size: 1.8rem !important;
  text-align: center;
  padding: 5%;
  align-self: center;
}
.cake-intros img {
  width: 30%;
  border-radius: 5% ;  
  margin-left: 1% ;
  margin-right: 1%;
}
  .cake-intros img:hover {
    transform: scale(1.1) !important ;
    box-shadow: 0 0 20px;
    transition: all .3s;
  }
.cake-intros div {
  padding: 2%;
}
.cake-intros h3 {
  color: var(--violet);
  font-size: 2rem;
}
footer {
  background-color: var(--secondary);
  padding: 2%;
  box-shadow: 2px 2px 10px;
}
footer h2{
  color: var(--violet);
}
footer p {
  font-size: 1.4rem;
padding-left: 5%;
padding-right: 5%;}

.comp-title{
  color: var(--violet);
  font-size: 2.5rem;
}
.comp-price {
  color: var(--violet);
  width: 350px;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}
.comp-desc{
  font-size: 1.8rem;
  padding: 5%;
}
.flavor-list {
  color: var(--violet);
  list-style: none;
  font-size: 1.2rem;
}
.cake-comp-img{
  
  margin: 3%;
  width: 40%;
  border: 1px solid var(--secondary);
  border-radius: 5%;
  box-shadow:0 0 15px black;
  outline-style: groove;
  
}
.cake-comp-img:hover{
  transform: scale(1.1) !important;
  transition: all .4s;
}
.login-a{
  text-decoration: none;
  color: white;
}
.login-btn{
  background-color: var(--violet) !important;
  color: white !important;
  
  
}
.logout-btn {
  margin-right: 1%;
}
.greeting-message{
margin-left: 2%;
font-size: 1.5rem;
align-content: center;
}
.greeting-cont {
  display: flex;
  justify-content: space-between;
}
.rating-avg {
  color: var(--violet) !important;
  font-size: 2rem;
}
.review-date{
  text-align: right;
  font-size: .7rem;
}

.signup-form{
  background-color: rgba(255, 255, 255, .6) !important;
  box-shadow: 0 0 10px !important;
}
.display-list {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}
.rating-username{
  color: var(--violet);
}
#logo{
  align-self: center;
  width: 50%;
  margin-left: 2%;
  margin-top: 1%;
  padding: 1%;
  
}




  @media screen and (max-width: 991px) {
    header {
      text-align: center;
    }
    nav {
      flex-direction: column;
    }
    nav ul {
      width: 100%;
      justify-content: space-between;
    }
    
    nav ul li a{
      
    font-size: 1.2rem !important;
    }
    .comp-desc{
      font-size: 1.2rem;
    }
    footer p {
      font-size: 1.1rem;
    }
    #logo{
      width: 80%;
    }
  }

  @media screen and (max-width: 640px) {
    .display-list{
      display: flex;
      flex-direction: column;
    }
    .cake-intros div {
      padding: 0;
      
    }
    .cake-intros h3 {
      margin-top: 5%;
    }
    .cake-intros p {
      font-size: 1rem !important;
      padding: 1%;
      
    }
    .home-h3{
      font-size: 1.2rem !important;
    }
    .cake-comp-img{
      width: 75%;
      margin: 6% auto;
    }
  }
  @media (min-width: 1440px) {
    html {
      zoom: 1.2;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
  }