* {
  text-shadow: .5 .5 1px;
}
:root {
  --primary : #ffeff8;
  --secondary: #e0f8f5;
  --links: #E58698;
  --headers:#444444;
}

body{
  background-color: var(--primary) !important;
}
header {
  margin-bottom: 1%;
  background-color: var(--secondary);
  
  box-shadow: 2px 2px 20px;
}
.web-name{
  font-size: 3rem;
  margin-left: 2%;
  padding: 1%;
}
.web-name a{
  text-decoration: none;
  color: var(--headers);
 }
nav ul{
  display: flex;
  padding: 1%;
  margin-right: 2%;
  
}
nav ul li a {
  color: var(--links) !important;
  font-size: 1.75rem !important;
  margin: 1%;
  text-decoration: none;
  color: black;

}
.active {
  font-size: 2rem !important;
  transform: translateY(-5px) !important;
  color: blueviolet !important;
}
nav ul li a:hover {
  font-size: 2rem !important;
  transition: all .3s;
} 
nav ul li {
  list-style: none;
}
.cake-intros p {
  font-size: 1.2rem !important;
  text-align: center;
  
  align-self: center;
}
.cake-intros img {
  width: 30%;
  border-radius: 2% !important;  
  margin-left: 1% ;
  margin-right: 1%;
}
.cake-intros div {
  padding: 2%;
}


  @media screen and (max-width: 991px) {
    header {
      text-align: center;
    }
    nav {
      flex-direction: column;
    }
    nav ul {
      width: 100%;
      justify-content: space-between;
    }
    
    nav ul li a{
      
    font-size: 1.2rem !important;
    }
  }
  @media screen and (max-width: 640px) {
    .cake-intros div {
      padding: 0;
      
    }
    .cake-intros h3 {
      margin-top: 5%;
    }
    .cake-intros p {
      font-size: 1.1rem !important;
      
    }
    .home-h3{
      font-size: 1.1rem !important;
    }
  }