
:root {
  --primary : #ffeff8;
  --secondary: #e0f8f5;
  --links: #E58698;
  --headers:#444444;
}

body{
  background-color: var(--primary) !important;
}
header {
  margin-bottom: 3%;
  background-color: var(--secondary);
  
  box-shadow: 2px 2px 20px;
}
.web-name{
  font-size: 3rem;
  margin-left: 2%;
  padding: 1%;
}
.web-name a{
  text-decoration: none;
  color: var(--headers);
 }
nav ul{
  display: flex;
  padding: 1%;
  margin-right: 2%;
  
}
nav ul li a {
  color: var(--links) !important;
  font-size: 1.75rem;
  margin: 1%;
  text-decoration: none;
  color: black;

}
nav ul li a:hover {
  font-size: 2rem;
  transition: all .3s;
} 
nav ul li {
  list-style: none;
}

  @media screen and (max-width: 991px) {
    header {
      text-align: center;
    }
    nav {
      flex-direction: column;
    }
    nav ul {
      flex-direction: column;
      margin: 0 auto;
    }
    nav ul li {
      
      margin-top: 3%;
    }
  }