.slider {
  text-align: center;
  display: flex;
  position: relative;
  width: 50%;
  justify-content: center;
  margin: 5% auto;

}

.image {
  width: 100%;
  align-items: center;
  align-self: center;
  border: black 1px solid;
  border-radius: 20px;
  box-shadow: 0 0 20px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: -5rem;
  font-size: 2rem;
  color: #A680BD;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: -5rem;
  font-size: 2rem;
  color: #A680BD;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.actives {
  opacity: 1;
  transition-duration: 1s ;
  transform: scale(1.08);
  }
@media screen and (max-width:640px) {
  .right-arrow {

    right: -4rem;

  }
  
  .left-arrow {

    left: -4rem;

  }
  .slider {
    width: 65%;
  }
}
@media screen and (max-width:300px) {
  .right-arrow {

    right: -3rem;

  }
  
  .left-arrow {

    left: -3rem;

  }
}
